.videosContainer {
  margin: 0px auto;
  width: 860px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.videoCard {
  
}

.videoWrapper {
  display: flex;
  height: 600px;
  background: black;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border-radius: 20px;
}
.video {
    position: relative;
}